@import url('https://fonts.google.com/specimen/Nunito+Sans');

body {
  margin: 0;
  font-family: Nunito Sans;
  background-color:  hsl(207, 26%, 17%);
}

/* Style The Dropdown Button */

.bar {
  display: flex;
  justify-content: space-between;
  margin: 25px 45px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: hsl(209, 23%, 22%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(209, 23%, 22%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: hsl(204, 2%, 46%)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(129, 129, 129);
}

input {
  padding: 0px 120px;
  background-color: hsl(209, 23%, 22%);
  color: white;
  border-radius: 7px;
  border: none;
}

.navbar {
  padding: 10px 0px;
  font-weight: 600;
  color: white;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.01);
  z-index: 1;
}

.navbar-text {
  margin-left: 30px;
  font-size: 25px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  margin: 20px auto;
  max-width: 250px;
  background-color: hsl(209, 23%, 22%);
  padding-bottom: 40px;
  overflow: hidden;
}

.card-text {
  margin-left: 20px;
  color: white;
  line-height: 1.6rem;
}
h2{
  margin-left: 20px;
  color: white;
}

.go-back {
  margin: 40px 0px;
  margin-left: 110px;
  padding: 10px 48px;
  background-color: hsl(209, 23%, 22%);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.national-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.national-flag {
  grid-column: 2 / span 2;
}

.country-text-details {
  grid-column: 6 / span 2;
  color: white;
  line-height: 25px;
}

.second-text-details{
  grid-column: 9 / span 2;
  color: white;
  line-height: 25px;
  margin: 60px 0px;
}

/* .border-country {
  grid-column: 6 / span 4;
  color: white;
  line-height: 25px;
}  */

a {
  text-decoration: none;
}

.loading-center {
  display: flex;
  justify-content: center;
  color: white;
}

.search-icon {
  max-width: 10px;
}
.down-arrow {
  max-width: 10px;
  margin-left: 10px;
}
.left-arrow {
  max-width: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 620px) {
  .card-content {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 20px auto;
}

.bar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.dropdown {
  margin-top: 30px;
}

 input {
   max-width: 100%;
   padding: 16px 40px;
 }

 .national-detail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0;
  margin-left: 20px;
}

.national-flag {
  grid-column: 1;
  max-width: 400px;
}

.country-text-details {
  grid-column: 1 ;
  margin-top: 150px;
  color: white;
  line-height: 25px;
}

.second-text-details{
  grid-column: 1;
  color: white;
  line-height: 25px;

}
.go-back {
  margin-left: 22px;
}
}